<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #1: <strong>Basic Angular Material UI Table</strong></h1></div>
<app-mat-table></app-mat-table>


<br><br><br>
<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #2: <strong>Angular Table with Expanded Row</strong> </h1></div>
<app-mat-table2></app-mat-table2>

<br><br><br>
<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #3: <strong>Dynamically Populate Data Using Loop</strong></h1></div>
<app-mat-table3></app-mat-table3>

<br><br><br>
<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #4: <strong>Angular Material UI Table Filter Example</strong></h1></div>
<app-mat-table4></app-mat-table4>

<br><br><br>
<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #5: <strong>Angular Material UI Table Pagination Example</strong></h1></div>
<app-mat-table5></app-mat-table5>

<br><br><br>
<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #6: <strong>Angular Material UI Table Sorting Column Example</strong></h1></div>
<app-mat-table6></app-mat-table6>

<br><br><br>
<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #7: <strong>Adding Footer in Angular Material UI Table</strong></h1></div>
<app-mat-table7></app-mat-table7>

<br><br><br>
<div class="container" style="text-align: center; padding-top: 20px;"><h1>Mat Table #8: <strong>Adding Checkbox for Row Selection in Angular Material UI Table</strong></h1></div>
<app-mat-table8></app-mat-table8>